---
layout: default
---

<!-- ---------- -->
<!-- TOP SLIDER -->
<!-- ---------- -->
{% include slider.html %}

<div>
    <div class="clearfix">

        <!-- -------------- -->
        <!-- WHY CHOOSE US  -->
        <!-- -------------- -->
        {% include why-choose-us.html %}

        <!-- ------------------- -->
        <!-- CHECK LIST SECTION  -->
        <!-- ------------------- -->
        {% include check-list.html %}


        <!-- ----------------- -->
        <!-- SERVICES SECTION  -->
        <!-- ----------------- -->
        {% include services.html%}

        <!-- --------------------- -->
        <!-- TESTIMONIALS SECTION  -->
        <!-- --------------------- -->
        {% include testimonials.html%}


        <!-- ------------------- -->
        <!-- INCOMPLETE SECTION  -->
        <!-- ------------------- -->
        <div class="row full-width page-margin-top-section">
            <ul class="galleries-list clearfix page-margin-top">
                <li>
                    <a href="gallery_tire_change.html" title="Tire Change">
                        <img src="images/samples/480x320/image_07.jpg" alt="">
                    </a>
                    <div class="view align-center">
                        <div class="vertical-align-table">
                            <div class="vertical-align-cell">
                                <p class="description">Tire Change</p>
                                <a class="more simple" href="gallery_tire_change.html" title="READ MORE">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="gallery_oil_change.html" title="Oil Change">
                        <img src="images/samples/480x320/image_02.jpg" alt="">
                    </a>
                    <div class="view align-center">
                        <div class="vertical-align-table">
                            <div class="vertical-align-cell">
                                <p class="description">Oil Change</p>
                                <a class="more simple" href="gallery_oil_change.html" title="READ MORE">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="gallery_belts_hoses.html" title="Our Facility">
                        <img src="images/samples/480x320/image_08.jpg" alt="">
                    </a>
                    <div class="view align-center">
                        <div class="vertical-align-table">
                            <div class="vertical-align-cell">
                                <p class="description">Our Facility</p>
                                <a class="more simple" href="gallery_belts_hoses.html" title="READ MORE">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="gallery_brake_repair.html" title="Brakes Repair">
                        <img src="images/samples/480x320/image_05.jpg" alt="">
                    </a>
                    <div class="view align-center">
                        <div class="vertical-align-table">
                            <div class="vertical-align-cell">
                                <p class="description">Brakes Repair</p>
                                <a class="more simple" href="gallery_brake_repair.html" title="READ MORE">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row gray full-width padding-top-54 padding-bottom-61 align-center">
            <h3><span class="button-label">DO YOU LIKE WHAT YOU SEE</span> <a class="more" target="_top" href="https://themeforest.net/cart/add_items?item_ids=12332985&amp;ref=QuanticaLabs" title="PURCHASE TEMPLATE"><span>PURCHASE TEMPLATE</span></a></h3>
        </div>

        <!-- ------------------ -->
        <!-- OUR MISSION / FAQ  -->
        <!-- ------------------ -->
        {% include our-mission-faq.html %}
        
    </div>
</div>