---
layout: default
---

<!-- TOP SLIDER -->
{% include slider.html %}

<div>
    <div class="clearfix">
        <!-- WHY CHOOSE US  -->
        {% include why-choose-us.html %}

        <!-- CHECK LIST SECTION  -->
        {% include check-list.html %}

        <!-- SERVICES SECTION  -->
        {% include services.html%}

        <!-- TESTIMONIALS SECTION  -->
        {% include testimonials.html%}

        <!-- OUR MISSION / FAQ  -->
        {% include our-mission-faq.html %}
    </div>
</div>