<div class="row page-margin-top-section padding-bottom-70">
    <div class="column column-1-2">
        <h3 class="box-header">OUR MISSION</h3>
        <p class="description">Serving GA & SC, the CSRA and beyond, our mobile auto repair service will help keep you on the road, in good shape. We provide quality repairs, maintenance and the latest automotive diagnostics at your location.</p>
        <p>Our mechanics are ASE certified and have over 45 years of combined experience repairing problems like yours. We’ll work on most any vehicle on the roads today. All repairs and services are guaranteed.</p>
        <p>We are a Christian-owned & operated business.</p>
    </div>
    <div class="column column-1-2">
        <h3 class="box-header">FREQUENTLY ASKED QUESTIONS</h3>
        <ul class="accordion margin-top-40 clearfix">
            <li>
                <div id="accordion-my-own-parts">
                    <h4>Can I buy the parts myself?</h4>
                </div>
                <p>I typically purchase the parts, as I am able to get the highest quality, with the fastest delivery, for the best price. Allow me to provide the peace of mind with excellent, warrantied parts by doing the legwork on getting the parts for you.</p>
            </li>
            <li>
                <div id="accordion-payment-methods">
                    <h4>What methods of payment do you accept?</h4>
                </div>
                <p>We offer online invoicing using FreshBooks, and will accept any major Visa, Mastercard, debit, or credit cards. <strong>Our minimum service call is $45</strong>. We use electronic invoicing, so you can conveniently receive and pay for your repair from your phone or mobile device.</p>
            </li>
            <li>
                <div id="accordion-service-fee">
                    <h4>Does the $45 charge count towards the repair?</h4>
                </div>
                <p>The service call charge of $45 is a minimum for the service technician to come to you home or business. Typically, I'm able to then find the problem with your vehicle within 15 minutes, and give you an accurate estimate on the needed repair. A diagnostic charge may be needed for anything over 15 minutes of checking your vehicle concerning the fault you've described.</p>
            </li>
            <li>
                <div id="accordion-classic-vehicles">
                    <h4>Do you work on older vehicles?</h4>
                </div>
                <p>I have a tremendous amount of experience working on older (pre-1983 "classic" carbureted) vehicles as well as newer vehicles.</p>
            </li>
            <li>
                <div id="accordion-2nd-mechanic">
                    <h4>Someone else already worked on it, but couldn't fix it. Can you help me?</h4>
                </div>
                <p>I have the experience needed to get the job done right, the first time. Give me a call, and I'll help you clean up the mess. Once I've fixed it, I'll aim to be your first call any time you need help in the future.</p>
            </li>
        </ul>
    </div>
</div>