<div class="row page-margin-top-section padding-bottom-70">
    <div class="column column-1-2">
        <h3 class="box-header">OUR MISSION</h3>
        <p class="description">We offer a full range of garage services to vehicle owners located in Tucson area. All mechanic services are performed by highly qualified mechanics. We can handle any car problem.</p>
        <p>We offer a full range of garage services to vehicle owners in Tucson. Our professionals know how to handle a wide range of car services. Whether you drive a passenger car or medium sized truck or SUV, our mechanics strive to <a href="#">ensure that your vehicle</a> will be performing at its best <a href="#">before leaving</a> our car shop.</p>
        <div class="page-margin-top">
            <a class="more" href="about.html" title="READ MORE"><span>READ MORE</span></a>
        </div>
    </div>
    <div class="column column-1-2">
        <h3 class="box-header">POPULAR QUESTIONS</h3>
        <ul class="accordion margin-top-40 clearfix">
            <li>
                <div id="accordion-using-synthetic">
                    <h4>Should I consider using synthetic motor oil?</h4>
                </div>
                <p>Synthetic engine oils are produced through a synthesis process that takes very small molecules and assembles them into larger designer molecules with premium lubricating properties.</p>
            </li>
            <li>
                <div id="accordion-parts-replacements">
                    <h4>What parts should be replaced at what intervals?</h4>
                </div>
                <p>Synthetic engine oils are produced through a synthesis process that takes very small molecules and assembles them into larger designer molecules with premium lubricating properties.</p>
            </li>
            <li>
                <div id="accordion-track-routine">
                    <h4>How do I keep track of routine maintenance?</h4>
                </div>
                <p>Synthetic engine oils are produced through a synthesis process that takes very small molecules and assembles them into larger designer molecules with premium lubricating properties.</p>
            </li>
        </ul>
    </div>
</div>