<a id="services" href="#services"></a>
<div class="row full-width page-padding-top-section padding-bottom-61">
    <div class="row">
        <h2 class="box-header">AUTO REPAIR SERVICES</h2>
        <p class="description align-center">We come to you by appointment - quick, qualified & convenient. An estimate for the repair will always be provided before work begins. Our experienced service will get your vehicle running and back in good condition.</p>

        <ul class="services-list clearfix page-margin-top">
            <li>
                <img src="images/samples/390x260/image_01.jpg" alt="ENGINE DIAGNOSTICS">
                <h4 class="box-header">
                    <span class="sl-small-car-checklist"></span>
                    ENGINE DIAGNOSTICS
                </h4>
            </li>
            <li>
                <img src="images/samples/390x260/image_02.jpg" alt="LUBE, OIL AND FILTERS">
                <h4 class="box-header">
                    <span class="icon sl-small-car-oil"></span>
                    LUBE, OIL AND FILTERS
                </h4>
            </li>
            <li>
                <img src="images/samples/390x260/image_03.jpg" alt="BELTS AND HOSES">
                <h4 class="box-header">
                    <span class="sl-small-engine-belt"></span>
                    BELTS AND HOSES
                </h4>
            </li>
        </ul>
        
        <div class="row page-margin-top">
            <div class="column column-1-3">
                <ul class="features-list">
                    <li>
                        <h5>CAR AUDIO SERVICE</h5>
                        <div class="icon sl-small-car-audio"></div>
                        <p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
                    </li>
                    <li>
                        <h5>Air Conditioning System Service</h5>
                        <div class="icon sl-small-air-conditioning"></div>
                        <p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
                    </li>
                </ul>
            </div>
            <div class="column column-1-3">
                <ul class="features-list">
                    <li>
                        <h5>LUBE, OIL AND FILTERS</h5>
                        <div class="icon sl-small-car-oil"></div>
                        <p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
                    </li>
                    <li>
                        <h5>PARKING SENSORS CALIBRATION</h5>
                        <div class="icon sl-small-parking-sensor"></div>
                        <p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
                    </li>
                </ul>
            </div>
            <div class="column column-1-3">
                <ul class="features-list">
                    <li>
                        <h5>ENGINE DIAGNOSTICS</h5>
                        <div class="icon sl-small-signal-warning"></div>
                        <p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
                    </li>
                    <li>
                        <h5>Battery, Charging, and Starting Repair/Maintence</h5>
                        <div class="icon sl-small-car-battery"></div>
                        <p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>