<a id="services" href="#services"></a>
<div class="row full-width gray flex-box page-margin-top-section services">
    <div class="column column-1-2 background-1">
        <a class="flex-hide" href="service_engine_diagnostics.html" title="Engine Diagnostics">
            <img src="images/samples/870x580/image_05.jpg" alt="Brake repair and replacement">
        </a>
    </div>
    <div class="column column-1-2 padding-bottom-66">
        <div class="row padding-left-right-100">
            <h2 class="box-header page-margin-top-section">Services</h2>
            <p class="description align-center">We provide top-notch repairs and service for all makes and models.</p>
            <div class="row margin-top-30">
                <div class="column column-1-2">
                    <ul class="list">
                        <li class="template-bullet">Air Conditioning</li>
                        <li class="template-bullet">Battery, Charging, Starting</li>
                        <li class="template-bullet">Belt & Hose Replacement</li>
                        <li class="template-bullet">Brake Repair and Flush</li>
                        <li class="template-bullet">Carburetor and Fuel Injectors</li>
                        <li class="template-bullet">Cooling System Flush and Service</li>
                        <li class="template-bullet">Diagnostics and On-board OBD scanning</li>
                        <li class="template-bullet">Drive & Timing Belts</li>
                        <li class="template-bullet">Drive Train</li>
                        <li class="template-bullet">Fluid Check and Refill</li>
                        <li class="template-bullet">Electrical Repairs</li>
                    </ul>
                </div>
                <div class="column column-1-2">
                    <ul class="list">
                        <li class="template-bullet">Fuel Systems</li>
                        <li class="template-bullet">Maintenance</li>
                        <li class="template-bullet">Mechanical Crash Damage Repairs</li>
                        <li class="template-bullet">Radiator and Heater Hoses</li>
                        <li class="template-bullet">Suspension</li>
                        <li class="template-bullet">Testing and Service</li>
                        <li class="template-bullet">Tire Rotation</li>
                        <li class="template-bullet">Tune-Up</li>
                        <li class="template-bullet">Window Motors and Regulators</li>
                        <li class="template-bullet">Many other services...</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>