<a id="services" href="#services"></a>
<div class="row full-width page-padding-top-section padding-bottom-61">
    <div class="row">
        <h2 class="box-header">AUTO REPAIR SERVICES</h2>
        <p class="description align-center">We offer a full range of garage services to vehicle owners located in CSRA.<br>Our professionals know how to handle a wide range of car services.</p>
        <ul class="services-list clearfix page-margin-top">
            <li>
                <a href="service_engine_diagnostics.html" title="Engine Diagnostics">
                    <img src="images/samples/390x260/image_01.jpg" alt="">
                </a>
                <h4 class="box-header"><a href="service_engine_diagnostics.html" title="Engine Diagnostics">ENGINE DIAGNOSTICS<span class="template-arrow-menu"></span></a></h4>
            </li>
            <li>
                <a href="service_lube_oil_filters.html" title="Lube, Oil and Filters">
                    <img src="images/samples/390x260/image_02.jpg" alt="">
                </a>
                <h4 class="box-header"><a href="service_lube_oil_filters.html" title="Lube, Oil and Filters">LUBE, OIL AND FILTERS<span class="template-arrow-menu"></span></a></h4>
            </li>
            <li>
                <a href="service_belts_hoses.html" title="Belts and Hoses">
                    <img src="images/samples/390x260/image_03.jpg" alt="">
                </a>
                <h4 class="box-header"><a href="service_belts_hoses.html" title="Belts and Hoses">BELTS AND HOSES<span class="template-arrow-menu"></span></a></h4>
            </li>
        </ul>
        
        <div class="row page-margin-top">
            <div class="column column-1-3">
                <ul class="features-list">
                    <li>
                        <h5>CAR AUDIO SERVICE</h5>
                        <div class="icon sl-small-car-audio"></div>
                        <p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
                    </li>
                    <li>
                        <h5>CAR A/C RECHARGE</h5>
                        <div class="icon sl-small-air-conditioning"></div>
                        <p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
                    </li>
                </ul>
            </div>
            <div class="column column-1-3">
                <ul class="features-list">
                    <li>
                        <h5>FREE OIL CHANGE</h5>
                        <div class="icon sl-small-car-oil"></div>
                        <p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
                    </li>
                    <li>
                        <h5>PARKING SENSORS CALIBRATION</h5>
                        <div class="icon sl-small-parking-sensor"></div>
                        <p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
                    </li>
                </ul>
            </div>
            <div class="column column-1-3">
                <ul class="features-list">
                    <li>
                        <h5>ENGINE DIAGNOSTICS</h5>
                        <div class="icon sl-small-signal-warning"></div>
                        <p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
                    </li>
                    <li>
                        <h5>CAR BATTERY REPAIRS</h5>
                        <div class="icon sl-small-car-battery"></div>
                        <p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>